html{
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.laba-container{
    background: gray;
    color: white;
    padding: 20px 10px;
    max-width: 85%;
    margin: 0 auto;
    border-radius: 20px;
}

#laba-number{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.laba-content{
    max-width: 90%;
    margin: 0 auto 10px;
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

.laba-step{
    max-width: 50%;
    text-align: center;
    height: auto;
    user-select: none;
}

.laba-img{
    width: 100%;
    border-radius: 20px;
}

.laba-show-code{
    display: flex;
    justify-content: center;
}

.laba-show-code > button{
    width: 40%;
    height: 1.5rem;
    border-radius: 10px;
    border: none;
    background: brown;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
}

.laba-show-code > button:hover{
    cursor: pointer;
    transform: translateY(-2px) translateX(1px);
    box-shadow: 1px 2px 5px black;
}



