/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --zavedi-sobaku-style-font-family: VinnytsiaSans-Regular, sans-serif;
  --zavedi-sobaku-style-font-size: 40px;
  --zavedi-sobaku-style-line-height: normal;
  --zavedi-sobaku-style-font-weight: 400;
  --zavedi-sobaku-style-font-style: normal;

  /* Effects */
}
